/*
relaxr.css
Relaxr Landing Page: Part 1
==================

We'll be working on this site for the next three classes, just a heads up.

For today, we'll be making a simplified version of the site which uses only one column. Your job is to build out the CSS - using the information below - for the page!

---

benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

Font-weight light = 300
Font-weight semi-bold = 400
font-weight bold = 700
font-weight extra bold = 800

"Relaxr" - Extra bold, 24px
"Get piece of mind with a single tap" - Semibold, 24px
"Get it Now" - Extra bold, 14px. 5px border radius
"Benefits" - Semibold, 20px
"The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be." - Light, 13px
• Schedule meetings for you
• Excel automation to complete your work for you
• Responds to emails on your behalf
• Does all your work for you with our revolutionary AI technology" - Light, 13px

"“Relaxr changed my life. I’ve been able to travel the world, spend limited time working and my boss keeps thanking me for crushing work.”" - Light Italic, 18px
"- Amanda, Intuit " - semibold, 18px

"Sign Up Now!" - extra bold, 12px, 5px border radius

Relaxr - extra bold, 24px
"Copyright 2015. Relaxr." - 9px, semibold
*/

header {
	height: 500px;
	background-image: url("../images/header_bg.jpg");
	background-size: cover;
	background-color: #050516;
	
}

h1 {
	color: white;
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
	font-weight: bolder;

}

header p {
	text-align: center;
	margin-top: 80px;
	font-size: 24px;
	font-weight: 700;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;

}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-left: 40px;

}

li {
	font-family: 'Open Sans', sans-serif;
}

ul{
	margin-left: 60px;
	font-weight: 300;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 30px;
	margin-left: 40px;
	padding-top: 20px;
}

.first-button {
	margin-top:  100px;
	text-align: center;
	padding: 30px;
	text-align: center;
	margin-top: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;

}


.first-button a {
	text-decoration: none;
	padding: 15px;
	background-color: yellow;
	border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px;
	background-color: yellow;
}

.title{font-size: 24px;
	color: white;
}


.benefits {
	font-size: 20px;
	border: 2px solid black;
	background-color: #f0efef;
	height: 300px;
	padding-left: 30px;

}

.benefits h3 {
	margin-top: 20px;
	font-weight: bolder;
}

.benefits ul  {
	margin-top: 30px;
	list-style-type: square;
	padding-left: 20px;
}

.quotes {
   font-size: 20px;
   font-weight: lighter;
   text-align: center;
   background-color: #050516;
   color: white;
   font-family: 'Open Sans', sans-serif;
   background-image: url("../images/testimonial_bg.jpg");
   height: 40%;
   padding-top: 60px;
   padding-left: 40px;
   padding-right: 40px;


}

.Amanda {
	padding-top: 40px;
	font-weight: 300px;
	font-family: 'Open Sans', sans-serif;
}

.final-link {
	background-color: yellow;
	padding: 50px;
	text-align: center;
	font-weight: 800;
}

.final-link a {
	text-decoration: none;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px;
	background-color: #0a0a2c;
	color: white;
	border-radius: 5px;
    font-family: 'Open Sans', sans-serif;

}

footer { 
background-color: black;
color: yellow;
text-align: center;
height: 150px;
padding: 50px;
font-size: 24px;
}


.social-images { 
text-align: center;
margin-top: 20px;
}

.facebook {
	width: 43px;
	display: inline-block;
}

.copyright {
	margin-top: 30px;
	color: white;
	text-align: center;
	font-size: 15px;
}




